body {
  background: var(--tg-theme-secondary-bg-color, white);
  font-family: monospace;
}



.color1{
  background-color: #2E2E3D;
}

.color2{
  background-color: #D29E1A;
}

.color3{
  background-color: #D9D9D9;
}

.color4{
  background-color: #2E2E3D;
}


